*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


/* Navbar */
.menu{
	border-bottom: 1px solid black;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.navbar{
	margin: 0px;
	padding: 0px;
	background-color: #eee;
	text-align: center;
}

.navbar a{
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: mediumaquamarine;
	text-shadow: 2px 2px 2px blue;
	margin: 12px;
	line-height: 20px;
}

   a:hover{
	color: white;
	box-shadow: 4px 4px 4px 4px black;
	box-sizing: border-box;

}


 @keyframes site{
 	10%{color: darkblue;}
	20%{color: maroon;}
 }

span{
	color: yellowgreen;
	font-family: sans-serif;
	animation-name: site;
 	animation-duration: 1s;
 	animation-iteration-count: infinite;


} 
label{
	margin: 0 30px 0 0;
	font-size: 25px;
	line-height: 20px;
	display: none;
	width: 35px;
	float: right;
}

#toggle{
	display: none;
}


/* Home section */

 #home{
 	display: flex;
 	flex-direction: column;
 	background-image: url(bg4.png);
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	height: 800px;
	width: 100%;
}

.main{
	padding:  90px;
    margin-top: 90px;
	text-align: center;
 	justify-content: center;
 	font-family: sans-serif;
 	color: mediumaquamarine;
 	text-shadow: 2px 2px 2px blue;
 	
 
}

.border{
	color: green;
  animation-name: PEAKY;
  animation-duration: 3s;
	justify-content: center;
	font-size: 30px;
}

.bg{
	font-size: 40px;
	animation-name: ISHAN;
	animation-duration: 3s;
	text-align: center;

}

.ftw{
	color: mediumaquamarine;
	font-family: sans-serif;
}
@keyframes ISHAN{
	20% {color: blue;}
	15% { color: red; }
	
    }

    @keyframes PEAKY{
     	20% {color: black;}
     15% {color: violet;}
     }


/* Contact Section */



.maintext{
	text-align: center;
	padding: 30px;
	font-size: 24px;
	color: black;

}

#maintext {
	color: black;
	padding : 20px;
	font-size: 15px;
   font-family: sans-serif;
	text-align: center;
	text-decoration-color: yellow;
}


#Contact
{
	background-image: url(form.jpg);
	width: 100%;
	height: 900px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;

}




/* PORTOLIO SECTION */

.H1{
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 2px red;
	text-align: center;
	font-family: sans-serif;
	padding: 5px;
	margin: 0px;
	animation-name: port;
	animation-duration: 3s;


}

@keyframes port{
	20% {color: greenyellow;}
	15% { color: maroon; }
	
    }

.Portfolio{
	background-image: url(portfolio.jpg); 
	background-repeat: no-repeat;
	object-fit: cover;
	background-color: black;



}
.Portfolio .port{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}

.Portfolio .port .box{
	height: 18rem;
	width: 28rem;
	border-radius: 3rem;
	margin: 4rem;
	overflow: hidden;
	cursor: pointer;
}

.Portfolio .port .box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Portfolio .port .box:hover img{
	transform: scale(1.2);

}

/* CV section */


.name{
	color: black;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
}
#cv{
	background-color: aliceblue;




}

.image img{
	height: 200px;
	width: 200px;
	display: flex;
	padding: 0px;
	margin: 0px;
	float: left;

}
.edu {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 2px blue;
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-style: wavy;
	color: darkgoldenrod;
	animation-name: edu;
	animation-duration: 3s;
	padding: 0px;
	animation-iteration-count: infinite;

}

@keyframes edu{
	10%{color: yellowgreen;}
	20%{color: blue;}
	

}

.table  {
	font-family: sans-serif;
	border-style: solid;
	font-size: 20px;
	text-align: center;
	background-color: aliceblue;
	color: black;
	font-weight: bold;
	text-shadow: 2px 1px 1px black;
	display: flex;
	justify-content: center;
	font-weight: bold;
	padding: 25px;
 }

 .skills {
 	display: flex;
 	border-style: solid;
 	background-color: aliceblue;
 	text-align: center;
 	justify-content: center;
 	color: black;
 	font-weight: bold;
	text-shadow: 2px 1px 1px black;
 	padding: 25px;
 	font-family: sans-serif;
 	font-size: 20px;
}

.h2{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 2px blue;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: white;
	color: orange;
	animation-name: h2;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}

@keyframes h2{
	10%{color: yellowgreen;}
	20%{color: blue;}
	}

.h3{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 2px blue;
	text-decoration: underline;
	text-decoration-style: wavy;
	padding: 0px;
	text-decoration-color: white;
	color: blueviolet;
	animation-name: h3;
	animation-iteration-count: infinite;
	animation-duration: 3s;

}

@keyframes h3{
	10%{color: yellowgreen;}
	20%{color: blue;}
}
.Exp{
	display: flex;
 	border-style: solid;
 	background-color: aliceblue;
 	text-align: center;
 	justify-content: center;
 	color: black;
 	font-weight: bold;
	text-shadow: 2px 1px 1px black;
 	padding: 25px;
 	font-weight: bold;
 	font-family: sans-serif;
 	font-size: 20px;
}
.h4{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 2px blue;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: white;
	color: salmon;

}

.PER{
	display: flex;
 	border-style: solid;
 	background-color: aliceblue;
 	text-align: center;
 	justify-content: center;
 	color: black;
 	font-weight: bold;
	text-shadow: 2px 1px 1px black;
 	padding: 25px;
 	font-weight: bolder;
 	font-family: sans-serif;
 	font-size: 20px;

}

/*SITE REPORT*/

.clas{
	padding: 0px;
	margin: 0px;
	animation-name: giri;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	color: yellowgreen;
	text-shadow: 2px 2px 2px blue;
	font-weight: bold;
	text-align: center;

}

@keyframes giri{
	10%{color: darkblue;}
	20%{color: maroon;}
}
.site{
	background-color: grey;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	padding: 10px;
}

.sky{
	color: maroon;
	font-weight: bold;
	font-family: sans-serif;
	box-shadow: 2px 4px 4px 2px black;
	font-size: 25px;
}


#sitereport {
	text-align: center;
	background-color: aliceblue;
	color: black;
	font-size: 20px;

}

.jet{
	color: maroon;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 25px;
	box-shadow: 2px 4px 4px 2px black;
}


.report{
	text-align: center;
	background-color: aliceblue;
	color: black;
	font-size: 20px;

}

.refhome{
	text-align: center;
	background-color: aliceblue;
	color: black;
	font-size: 20px;

}

#head{
	color: maroon;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 25px;
	box-shadow: 2px 4px 4px 2px black;

}

.refcss{
	text-align: center;
	background-color: aliceblue;
	color: black;
	font-size: 20px;
	

}

.plane{
	color: maroon;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 25px;
	box-shadow: 2px 4px 4px 2px black;
}



.bg4{
	height: 250px;
	width: 250px;
	display: flex;
	object-fit: cover;


}
.olive{
	color: white;
	font-size: 25px;
	font-weight: bold;
	box-shadow: 2px 4px 4px 2px green;
	text-align: center;


}



 
.val{
	color: maroon;
	font-size: 25px;
	font-weight: bold;
	box-shadow: 2px 4px 4px 2px black;

}


.zoro{
	color: maroon;
	font-weight: bold;
	text-shadow: 2px 2px 2px yellowgreen;
	box-shadow: 2px 4px 4px 2px black;
}

.vivi{
	background-color: aliceblue;
	font-size: 20px;
	color: black;
	text-align: center;
	
	}

.aeaa {
	color: maroon;
	text-shadow: 1px 1px 2px blue;
}	

.qwsd{
	color: maroon;
	text-shadow: 1px 1px 2px blue;

}

.asdf{
	color: maroon;
	text-shadow: 1px 1px 2px blue;
}

.lkjh{
	color: maroon;
	text-shadow: 1px 1px 2px blue;

}

#qwer{
	color: maroon;
	text-shadow: 1px 1px 2px blue;

}



.null{
	text-align: center;
	font-family: sans-serif;
	color: green;
	font-size: 30px;
	text-shadow: 2px 2px 2px blue;
}

.xoxo{
	background-color: aliceblue;
	color: maroon;
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
}

#refport{ 
	background-repeat: no-repeat;
	object-fit: cover;
	background-color: grey;
}
.txtf{
	color: white;
}

#refport .imagee{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}

#refport .imagee .jpg{
	height: 18rem;
	width: 28rem;
	border-radius: 3rem;
	margin: 4rem;
	overflow: hidden;
}

#refport .imagee .jpg img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.headingg{
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
	box-shadow: 2px 2px 2px green;
	text-align: center;
}

#validate{ 
	background-repeat: no-repeat;
	object-fit: cover;
	background-color: grey;
}

#validate .display{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}

#validate .display .fort{
	height: 60%;
	width: 60%;
	border-radius: 1rem;
	margin: 4rem;
	overflow: hidden;
}

#validate .display .fort img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media only screen and (max-width:500px){
	
	/*Hamburger icon*/
	label{
		display: block;
		cursor: pointer;

	}
		.navbar{
			text-align: left;
			width: 100%;
			display: none;
			font-size: 5px;

		}
.navbar a{
	display: block;
	border-bottom: 2px solid yellowgreen;
	margin: 1px;
 
}
#toggle:checked + .navbar{
	display: inline-block;



}



    /*HOME SECTION*/

	#home{
		font-size: 10px;
		text-align: center;
		justify-content: center;
		object-fit: cover;

	}

	.H1 {
		text-align: center;
		font-size: 25px;

	}

	.border{
		text-align: center;
		font-size: 20px;
	}

	.bg{
		text-align: center;
		font-size: 25px;

	}

	/*cv*/

	.table{
		text-align: center;
		object-fit: cover;
		font-size: 15px;
	}

/*portfolio*/

.H1{
font-size: 20px;

}

/*siteereport*/
 
 .txtf{
	color: white;
	font-size: 8px;
}

.med{
	font-size: 15px;
}

.gif{
	font-size: 15px;
}







}






